
/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --link-color: #BA2C73;
  --font: 'Poppins', sans-serif;
  --color-dark: #191D32;
  --color-gray: #282F44;
  --color-white: #FFFBFE;
}

body {
  margin: 0 30px;
  font-family: var(--font);
  background: var(--color-dark);
}

h1,h2,h3,h4 {
  font-weight: 500;
}

.App {
  font-size: 1.1rem;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--link-color);
  border-bottom: 1px solid;
}

