
/* Imports */

:root {
  --link-color: #8e2ad6;
}

.App {
  font-size: 1.1rem;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var();
}